body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
}

header {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

main {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 4px #999;
}

p {
  font-size: 1em;
  text-indent: 20px;
}

.smiley-1 {
  font-size: 150px;
  position: absolute;
  top: 10px;
  right: 10%;
}
.smiley-2 {
  font-size: 150px;
  position: absolute;
  top: 10px;
  left: 10%;
}

.formula {
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
}

.variable {
  font-style: italic;
}

.number {
  font-size: 0.8em;
  vertical-align: super;
}

.quote {
  font-style: italic;
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #333;
  box-shadow: 2px 2px 5px #999;
}

.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

.code-snippet {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  overflow-x: auto;
  color: #333;
  box-shadow: 2px 2px 5px #999;
}

.certificate-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  box-shadow: 2px 2px 5px #919f96;
}

#gallery {
  margin: 20px;
  padding: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.gallery-container img {
  flex: 1 1 auto;
  max-width: calc(33.333% - 20px); /*три изображения*/
  height: auto;
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .gallery-container img {
    max-width: calc(50% - 20px); /*два изображения*/
  }
}

@media (min-width: 1025px) {
  .gallery-container img {
    max-width: calc(33.333% - 20px); /*три изображения*/
  }
}

#table-section {
  width: 100%;
}

.table-grid {
  width: 100%;
  border-collapse: collapse;
}

.table-grid th,
.table-grid td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.table-grid tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-grid tr:nth-child(odd) {
  background-color: #ffffff;
}

#popup-section {
  margin-left: auto;
  margin-right: auto;
}

.popup {
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 18px;
  position: relative;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
