<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="portfolio" />
    <meta name="description" content="This is a description of my website." />
    <title>Semyonov Maxim</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../static/css/outlines.css" />
  </head>
  
  <body>
    <header>
      <h1>Welcome to My Website</h1>
      <nav>
        <ul>
          <li><a href="code.html">Code</a></li>
          <li><a href="achivement.html">Achivement</a></li>
          <li><a href="gallery.html">AI Girls</a></li>
          <li><a href="table.html">Stackoverflow Delevoper Survey</a></li>
        </ul>
      </nav>
      <a href="../index.html" class="smiley-1">👋</a>
      <a href="../index.html" class="smiley-2">🤌</a>
    </header>

    <main>
      <section id="achivement">
        <h2>Achivement</h2>
        <p>TO DO LIST</p>
        <ul>
          <li>
            <strong>Success</strong>: I completed my website. (Спасибо курсу на
            степике в 2019 году)
          </li>
          <li><em>Failure</em>: I didn't finish my other project.</li>
        </ul>
        <img
          class="certificate-image"
          src="../static/media/sertificate.png"
          alt="Certificate Image"
        />
      </section>
      

    </main>

    <footer>
      <p>© Semyonov Maxim Website</p>
    </footer>
  </body>
</html>