<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="portfolio" />
    <meta name="description" content="This is a description of my website." />
    <title>Semyonov Maxim</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../static/css/outlines.css" />
    <script src="../static/js/page-load-stats.js"></script>
  </head>
  
  <body>
    <header>
      <h1>Welcome to My Website</h1>
      <nav>
        <ul>
          <li><a class="menu-link" href="../index.html">Main</a></li>
          <li><a class="menu-link" href="code.html">Code</a></li>
          <li><a class="menu-link" href="achivement.html">Achivement</a></li>
          <li><a class="menu-link" href="gallery.html">AI Girls</a></li>
          <li><a class="menu-link" href="table.html">Stackoverflow Delevoper Survey</a></li>
        </ul>
      </nav>
      <a href="../index.html" class="smiley-1">👋</a>
      <a href="../index.html" class="smiley-2">🤌</a>
    </header>

    <main>
      <section id="code">
        <h2>Code</h2>
        <p>WRITE CODE. WRITE CODE. WRITE CODE</p>
        <pre>
    ___    ___     ___     ___     ___     ___   __  __  __  __    ___    _  _     ___   
   | _ \  | _ \   / _ \   / __|   | _ \   /   \ |  \/  ||  \/  |  |_ _|  | \| |   / __|  
   |  _/  |   /  | (_) | | (_ |   |   /   | - | | |\/| || |\/| |   | |   | .` |  | (_ |  
  _|_|_   |_|_\   \___/   \___|   |_|_\   |_|_| |_|__|_||_|__|_|  |___|  |_|\_|   \___|  
         </pre
        >
        <code class="code-snippet">
          print("Hello, world!")
        </code>
        <blockquote class="quote">
          Just do it!
        </blockquote>
        <p class="formula">
          <span class="variable">E</span> =
          <span class="variable">mc</span>
          <sup class="number">2</sup>
        </p>
      </section>
    </main>
    
    <footer>
      <p>© Semyonov Maxim Website</p>
    </footer>
        <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const navLinks = document.querySelectorAll("nav ul li a");
        const currentLocation = document.location.href;

        navLinks.forEach((link) => {
          if (currentLocation.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
  </body>
</html>
