<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="portfolio" />
    <meta name="description" content="This is a description of my website." />
    <title>Semyonov Maxim</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../static/css/outlines.css" />
    <link rel="stylesheet" href="../static/css/preloader.css" />
    <script src="../static/js/page-load-stats.js"></script>
  </head>

  <body>
    <header>
      <h1>Welcome to My Website</h1>
      <nav>
        <ul>
          <li><a class="menu-link" href="../index.html">Main</a></li>
          <li><a class="menu-link" href="code.html">Code</a></li>
          <li><a class="menu-link" href="achivement.html">Achivement</a></li>
          <li><a class="menu-link" href="gallery.html">AI Girls</a></li>
          <li>
            <a class="menu-link" href="table.html"
              >Stackoverflow Delevoper Survey</a
            >
          </li>
          <li><a class="menu-link" href="constructor.html">TODO List</a></li>
        </ul>
      </nav>
      <a href="../index.html" class="smiley-1">👋</a>
      <a href="../index.html" class="smiley-2">🤌</a>
    </header>
    <main>
      <div id="preloader" style="display: none;">Loading...</div>
      <div id="note-app">
        <form id="note-form">
          <input type="text" id="note-input" placeholder="Enter a task" />
          <button type="submit" id="add-note-btn">Add Task</button>
        </form>
        <button type="button" id="delete-all-btn">Delete All Tasks</button>
        <ul id="notes-list"></ul>
      </div>
    </main>
    <footer>
      <p>© Semyonov Maxim Website</p>
    </footer>
    <script src="../static/js/todo-list.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const navLinks = document.querySelectorAll("nav ul li a");
        const currentLocation = document.location.href;

        navLinks.forEach((link) => {
          if (currentLocation.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
    <script src="../static/js/data-fetcher.js"></script>
  </body>
</html>
