<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="portfolio" />
    <meta name="description" content="This is a description of my website." />
    <title>Semyonov Maxim</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../static/css/outlines.css" />
    <script src="../static/js/page-load-stats.js"></script>
  </head>
  
  <body>
    <header>
      <h1>Welcome to My Website</h1>
      <nav>
        <ul>
          <li><a class="menu-link" href="../index.html">Main</a></li>
          <li><a class="menu-link" href="code.html">Code</a></li>
          <li><a class="menu-link" href="achivement.html">Achivement</a></li>
          <li><a class="menu-link" href="gallery.html">AI Girls</a></li>
          <li><a class="menu-link" href="table.html">Stackoverflow Delevoper Survey</a></li>
          <li><a class="menu-link" href="constructor.html">TODO List</a></li>
        </ul>
      </nav>
      <a href="../index.html" class="smiley-1">👋</a>
      <a href="../index.html" class="smiley-2">🤌</a>
    </header>

    <main>
     <section id="gallery">
        <h2>AI Girls</h2>
        <div class="gallery-container">
          <img src="../static/media/girls/image_1.png" alt="Gallery Image 1" />
          <img src="../static/media/girls/image_2.png" alt="Gallery Image 2" />
          <img src="../static/media/girls/image_3.png" alt="Gallery Image 3" />
          <img src="../static/media/girls/image_4.png" alt="Gallery Image 4" />
          <img src="../static/media/girls/image_5.png" alt="Gallery Image 5" />
          <img src="../static/media/girls/image_6.png" alt="Gallery Image 6" />
        </div>
      </section>

    </main>
    
    <footer>
      <p>© Semyonov Maxim Website</p>
    </footer>
        <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const navLinks = document.querySelectorAll("nav ul li a");
        const currentLocation = document.location.href;

        navLinks.forEach((link) => {
          if (currentLocation.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
  </body>
</html>
