<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="portfolio" />
    <meta name="description" content="This is a description of my website." />
    <title>Semyonov Maxim</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="../static/css/outlines.css" />
    <script src="../static/js/page-load-stats.js"></script>
  </head>

  <body>
    <header>
      <h1>Welcome to My Website</h1>
      <nav>
        <ul>
          <li><a class="menu-link" href="../index.html">Main</a></li>
          <li><a class="menu-link" href="code.html">Code</a></li>
          <li><a class="menu-link" href="achivement.html">Achivement</a></li>
          <li><a class="menu-link" href="gallery.html">AI Girls</a></li>
          <li>
            <a class="menu-link" href="table.html"
              >Stackoverflow Delevoper Survey</a
            >
          </li>
          <li><a class="menu-link" href="constructor.html">TODO List</a></li>
        </ul>
      </nav>
      <a href="../index.html" class="smiley-1">👋</a>
      <a href="../index.html" class="smiley-2">🤌</a>
    </header>

    <main>
      <section id="table-section">
        <h2>Stackoverflow Delevoper Survey</h2>
        <table class="table-grid">
          <thead>
            <tr>
              <th scope="col">Место</th>
              <th scope="col">2023</th>
              <th scope="col">2022</th>
              <th scope="col">2021</th>
              <th scope="col">2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>JavaScript</td>
              <td>JavaScript</td>
              <td>JavaScript</td>
              <td>JavaScript</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>HTML/CSS</td>
              <td>HTML/CSS</td>
              <td>HTML/CSS</td>
              <td>HTML/CSS</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Python</td>
              <td>SQL</td>
              <td>Python</td>
              <td>SQL</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>SQL</td>
              <td>Python</td>
              <td>SQL</td>
              <td>Python</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <footer>
      <p>© Semyonov Maxim Website</p>
    </footer>
        <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const navLinks = document.querySelectorAll("nav ul li a");
        const currentLocation = document.location.href;

        navLinks.forEach((link) => {
          if (currentLocation.includes(link.getAttribute("href"))) {
            link.classList.add("active");
          }
        });
      });
    </script>
  </body>
</html>
